In [1]:
apple=20
apple

20

In [3]:
a=10
type(a)

int

In [15]:
a=10.05
type(a)
b=(10+5j)
b
c=True
type(c)
d='hello'
type(d)
e={3,3}
type(e)
f={3:3}
type(f)
g=(10,)
type(g)

tuple

In [16]:
a=10
id(a)

140734030210120

In [41]:

manideep={name:manideep,"Age":20}
print(manideep)

{'manideep': {'manideep': {'manideep': {'manideep': {'manideep': {'manideep': {'name': 'manideep'}}}}}}, 'Age': 20}

In [52]:

a={"name":"manideep","Age":20}
a.items()

dict_items([('name', 'manideep'), ('Age', 20)])

In [57]:
x="hai"
y="bye"
temp=x
x=y
y=temp
print(x)

bye