In [3]:
#1.was to print Helloworld.
print("Helloworld")

Helloworld

In [4]:
#2.was to initiliaze variable and value as 50
apple=20
apple

20

In [19]:
#3.was to print the type of data in given value
a=10
print(type(a))

b=10.05
print(type(b))


b=10+5j
print(type(b))

b=True
print(type(b))

e=None
print(type(e))

b="hello how are you"
print(type(b))

b=(10,20)
print(type(b))

b=[10,20,30]
print(type(b))

b={10,20}
print(type(b))

b={'a':10,"b":20}
print(type(b))

<class 'int'>
<class 'float'>
<class 'complex'>
<class 'bool'>
<class 'NoneType'>
<class 'str'>
<class 'tuple'>
<class 'list'>
<class 'set'>
<class 'dict'>

In [21]:
#4.was to initiliaze multivariable values are 150,120,250

raja,rani,dinga=150,120,250
print(raja)
print(rani)
print(dinga)

150
120
250

In [22]:
#5.was to print the adress of the memory block in the given block

a=10
id(a)

140733458408520

In [40]:
#6.was to print your details,first store your details,extract the values and display

#By using procedural programming language(variable concept):
name="Manideep"
age=21
phone=6300978091
email="manideep4536@gmail.com"
print(name,age,phone,email)

#predefined programming language using list.

m={name:"mani",age:21,phone:"6300978091.",}
print(m[name])
print(m[age])
print(m[phone])

Manideep 21 6300978091 manideep4536@gmail.com
mani
21
6300978091.

In [42]:
#7.was to swap two values by using a temp varaible
x="hai"
y="bye"
temp=x
x=y
y=temp
print(x)
print(y)

bye
hai

In [45]:
#8.was to swap two values without using a third varaible or temp variable.
x={"a":10}
y=(10,20)
x,y=y,x
print(x)
print(y)

(10, 20)
{'a': 10}

In [49]:
#9.was to initilize a value and print the value,after printing the value,then reinitilize the new value to the existing variable and display the value.

a=150
print(a)
a=[10,20]
print(a)
del (a)
print(a)

150
[10, 20]

NameError: name 'a' is not defined

In [50]:
#10.was to convert a single to multi value datatype.
a=100
b=str(a)
print(b)
c=list(b)
print(c)

100
['1', '0', '0']

In [71]:
#11.was to concat two multivalues datatypes(str,list,tuple,set,dict)
#forward concatenation by using addition operator.

a="raja"
b="rani"
c=a+b
print(c)
print(a)
print(b)
print("_*_"*30)
#forward concatenation by using compound assignment operator.
a+=b
print(a)
print("_*_"*30)
a="raja"
b="rani"
d=b+a
print(d)
print("_*_"*30)

#lists:
l=[10,20]
t=[30,40]
m=l+t
print(m)

print("_*_"*30)
l+=t
print(l)
print(t)

print("_*_"*30)

x=[]
x+="hello"
print(x)

print("_*_"*30)

x=[]
x+=[10,20,30]
print(x)

print("_*_"*30)

x=[]
x+={10:20,30:40} #dictonary accepts only keys only keys are vivible
print(x)

print("_*_"*30)

x+=[]
x+=b"1010"
print(x)

rajarani
raja
rani
_*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*_
rajarani
_*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*_
raniraja
_*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*_
[10, 20, 30, 40]
_*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*_
[10, 20, 30, 40]
[30, 40]
_*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*_
['h', 'e', 'l', 'l', 'o']
_*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*_
[10, 20, 30]
_*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*_
[10, 30]
_*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*_
[10, 30, 49, 48, 49, 48]

In [84]:
#12.was to calculate the length of the given collection

len("hello")
print(len("hello"))
print("_*_"*30)

 #len can be accessed by only single value datatypes so list does not support length function.

len({10,20,30,40})

5
_*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*_

2

In [89]:
#13.was to findout the middle value of the given collection

a="hello"
print(a[2])

a="hello"  # odd number of collection.
print(a[len(a)//2])

b="cute"
print(b[len(b)//2])

l
l
t

In [92]:
#14.was to concat the new string into the starting of the given string.

c="hello"
d="world"

e=d+c
print(e)

d+=c
print(d)

worldhello
worldhello

In [95]:
#15.was to concat the new string into the ending of the given string.

x="haii"
y="bye"
z=x+y
print(z)

x+=y
print(x)

haiibye
haiibye

In [104]:
#16.was to concat the new string into the middle of the given string.

x="haii rama"
print(x[0:len(x)//2])
x[len(x)//2:]
print(x[len(x)//2:])  # space will be added.

x[0:len(x)//2]+"good morning"+x[len(x)//2:]
print(x[0:len(x)//2] + "good morning" + x[len(x)//2:])

haii
 rama
haiigood morning rama

In [114]:
#17.was to modify the new character into the middle of the given string.

x="haii rama"
print(x[0:len(x)//2]+" " '@'+x[(len(x)//2)+1:])

print(x[0:len(x)//2]+'@'+x[(len(x)//2):])

haii @rama
haii@ rama

In [2]:
#19.Was to replace the old character into a new character of the given string.
st="PYSPIDERS"
res = st[:-3]+"Q"+st[-2:]
print(res)

temp=st[:6]+"Q"+st[7:]
print(temp)

PYSPIDQRS
PYSPIDQRS

In [5]:
#20.WAS to delete the specific character in the given string 

st="QSPIDERS"
res=st[:4]+st[4+1:]
print(res)

res=st[:-4]+st[-3:]
print(res)

QSPIERS
QSPIERS

In [6]:
#21.was to delete the sequence of characters in the given string.
#i/p:  st="QSPIDERS"
#o/p:  QSRS


res=st[:2]+st[6:]
print(res)

res=st[:2]+st[-2:]
print(res)

res=st[:-6]+st[-2:]
print(res)

res=st[:-6]+st[6:]
print(res)

QSRS
QSRS
QSRS
QSRS

In [12]:
#22.Was to concat the new string into the specific position of the given string.

#i/p:  st="QSPIDERS"
#o/p:  st="QSPI123456DERS"

st="QSPIDERS"
res=st[0:4]+"123456"+st[4:]
print(res)

st="QSPIDERS"
res=st[0:-4]+"123456"+st[-4:]
print(res)

#i/p:  st="QSPIDERS"
#o/p:  st="SRED123456IPSQ"

st="QSPIDERS"
res=st[-1:-5:-1]+"123456"+st[-5::-1]
print(res)

st="QSPIDERS"
res=st[:3:-1]+"123456"+st[3::-1]
print(res)

QSPI123456DERS
QSPI123456DERS
SRED123456IPSQ
SRED123456IPSQ

In [19]:
#23.Was to concat the new value into the starting of the given list.

l=[10,20,30,50,"hello",'hai']
print(l,id(l))
l=[100,200]+l
print(l,id(l))

l=[10,20,30,50,"hello",'hai']
print(l,id(l))
l[0:0]=[100,200]
print(l,id(l))

[10, 20, 30, 50, 'hello', 'hai'] 1691509912320
[100, 200, 10, 20, 30, 50, 'hello', 'hai'] 1691509902592
[10, 20, 30, 50, 'hello', 'hai'] 1691509902784
[100, 200, 10, 20, 30, 50, 'hello', 'hai'] 1691509902784

In [32]:
#24.Was to concat the new value into the ending of the given list.

t=[10,20,30,50,"hello","haii"]
print(t,id(t))
t=t+[100,200]
print(t,id(t))

t=[10,20,30,50,"hello","haii"]
print(t,id(t))
t+=[100,200]
print(t,id(t))

t=[10,20,30,50,"hello","haii"]
print(t,id(t))
t[len(t):len(t)]=[100,200]#6:6
print(t,id(t))

t=[10,20,30,50,"hello","haii"]
print(t,id(t))
t[-1:-1]=[100,200]
print(t,id(t)) #it is not correct because the order is not proper order.

[10, 20, 30, 50, 'hello', 'haii'] 1691509927744
[10, 20, 30, 50, 'hello', 'haii', 100, 200] 1691504077184
[10, 20, 30, 50, 'hello', 'haii'] 1691509917824
[10, 20, 30, 50, 'hello', 'haii', 100, 200] 1691509917824
[10, 20, 30, 50, 'hello', 'haii'] 1691504077184
[10, 20, 30, 50, 'hello', 'haii', 100, 200] 1691504077184
[10, 20, 30, 50, 'hello', 'haii'] 1691509917824
[10, 20, 30, 50, 'hello', 100, 200, 'haii'] 1691509917824

In [44]:
#25.Was to concat the new value in the middle of the given list.

y=[10,20,"hello","100","haii"]
print(y,id(y))
y=y[:len(y)//2]+['a','b']+y[len(y)//2:]
print(y,id(y))

print("_*_"*30)

y=[10,20,"hello","100","haii","bye"]
print(y,id(y))
y=y[:len(y)//2]+['a','b']+y[len(y)//2:]
print(y,id(y))

print("_*_"*30)

y=[10,20,"hello","100","haii"]
print(y,id(y))
y[len(y)//2:len(y)//2:]=['a','b']
print(y,id(y))

print("_*_"*30)

y=[10,20,"hello","100","haii","bye"]
print(y,id(y))
y[len(y)//2:len(y)//2:]=['a','b']
print(y,id(y))

[10, 20, 'hello', '100', 'haii'] 1691509935424
[10, 20, 'a', 'b', 'hello', '100', 'haii'] 1691509941760
_*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*_
[10, 20, 'hello', '100', 'haii', 'bye'] 1691509616448
[10, 20, 'hello', 'a', 'b', '100', 'haii', 'bye'] 1691509942016
_*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*_
[10, 20, 'hello', '100', 'haii'] 1691509935424
[10, 20, 'a', 'b', 'hello', '100', 'haii'] 1691509935424
_*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*_
[10, 20, 'hello', '100', 'haii', 'bye'] 1691509616448
[10, 20, 'hello', 'a', 'b', '100', 'haii', 'bye'] 1691509616448

In [ ]:
#26.Was to concat the new value in the specific position of the given list.

l=[10,20,"hello",'a','b',100,"haii"]

In [41]:
#27.Was to modify the sequence of new value's in the specific position of the given list.

l=[10,20,"hello",'a','b',100,"haii",66]
print(l,id(l))
l[2:2]=["helloworld","goodbye"]
print(l,id(l))

[10, 20, 'hello', 'a', 'b', 100, 'haii', 66] 1691504352704
[10, 20, 'helloworld', 'goodbye', 'hello', 'a', 'b', 100, 'haii', 66] 1691504352704

In [43]:
#28.Was to modify the new value in the starting of the given list.

l=[10,20,"hello",'a','b',100,"haii",66]
print(l,id(l))
l[0]="helloworld"
print(l,id(l))

[10, 20, 'hello', 'a', 'b', 100, 'haii', 66] 1691509823040
['helloworld', 20, 'hello', 'a', 'b', 100, 'haii', 66] 1691509823040

In [47]:
#28.Was to modify the new value in the ending of the given list.
l=[10,20,"hello",'a','b',100,"haii",66]
print(l,id(l))
l[-1]="helloworld"
print(l,id(l))

print("_*_"*30)

[10, 20, 'hello', 'a', 'b', 100, 'haii', 66] 1691510089664
[10, 20, 'hello', 'a', 'b', 100, 'haii', 'helloworld'] 1691510089664
_*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*_

In [51]:
#28.Was to modify the new value in the middle of the given list.
l=[10,20,"hello",'a','b',100,"haii",66]
print(l,id(l))
l[len(l)//2]="[helloworld]"
print(l,id(l))

print("_*_"*30)
l=[10,20,"hello",'a','b',100,"haii",66]
print(l,id(l))
l[len(l)//2]="helloworld"
print(l,id(l))

[10, 20, 'hello', 'a', 'b', 100, 'haii', 66] 1691504114560
[10, 20, 'hello', 'a', '[helloworld]', 100, 'haii', 66] 1691504114560
_*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*_
[10, 20, 'hello', 'a', 'b', 100, 'haii', 66] 1691510143104
[10, 20, 'hello', 'a', 'helloworld', 100, 'haii', 66] 1691510143104

In [1]:
#29.Was to modify the first 4 positions in the given list.

l=[1,2,3,4,5,6]
print(l,id(l))
l[0:4]=['a','b','c','d']
print(l,id(l))

[1, 2, 3, 4, 5, 6] 1775466643968
['a', 'b', 'c', 'd', 5, 6] 1775466643968

In [2]:
#30.Was to delete the value in the specific position in the given list.

l=[1,2,3,4,5,6]
print(l,id(l))

del l[3]

print(l,id(l))

[1, 2, 3, 4, 5, 6] 1775466586944
[1, 2, 3, 5, 6] 1775466586944

In [4]:
#31.Was to delete the value in the ending of the given list.

l=[1,2,3,4,5,6]
print(l,id(l))

del l[-1]

print(l,id(l))

#2nd Method

l=[1,2,3,4,5,6]
print(l,id(l))

del l[len(l)-1]

print(l,id(l))

[1, 2, 3, 4, 5, 6] 1775465834944
[1, 2, 3, 4, 5] 1775465834944
[1, 2, 3, 4, 5, 6] 1775465786816
[1, 2, 3, 4, 5] 1775465786816

In [6]:
#32.Was to delete the value in the middle of the given list.

l=[1,2,3,4,5,6,7]
print(l,id(l))

del l[len(l)//2]

print(l,id(l))

#2nd Method

l=[1,2,3,4,5,6]
print(l,id(l))

del l[len(l)//2]

print(l,id(l))

[1, 2, 3, 4, 5, 6, 7] 1775444056064
[1, 2, 3, 5, 6, 7] 1775444056064
[1, 2, 3, 4, 5, 6] 1775466637056
[1, 2, 3, 5, 6] 1775466637056

In [8]:
#33.Was to delete the value in the starting of the given list.

l=[1,2,3,4,5,6,7]
print(l,id(l))

del l[0]

print(l,id(l))

#2nd Method

l=[1,2,3,4,5,6,7]
print(l,id(l))

del l[-(len(l))]

print(l,id(l))

[1, 2, 3, 4, 5, 6, 7] 1775465786176
[2, 3, 4, 5, 6, 7] 1775465786176
[1, 2, 3, 4, 5, 6, 7] 1775466646784
[2, 3, 4, 5, 6, 7] 1775466646784

In [15]:
#34.Was to delete the Sequence of values from the given list.

l=[1,2,3,4,5,6]
print(l,id(l))

del l[0:4]

print(l,id(l))

print("_*_"*30)

#2nd Method

l=[1,2,3,4,5,6,'a','b','c','d','e']
print(l,id(l))

del l[4:0:-1]

print(l,id(l))

print("_*_"*30)

#3rd Method

l=[1,2,3,4,5,6,'a','b','c','d','e']
print(l,id(l))

del l[-1:-6:-1]

print(l,id(l))

[1, 2, 3, 4, 5, 6] 1775466605184
[5, 6] 1775466605184
_*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*_
[1, 2, 3, 4, 5, 6, 'a', 'b', 'c', 'd', 'e'] 1775466649408
[1, 6, 'a', 'b', 'c', 'd', 'e'] 1775466649408
_*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*_
[1, 2, 3, 4, 5, 6, 'a', 'b', 'c', 'd', 'e'] 1775466574528
[1, 2, 3, 4, 5, 6] 1775466574528

In [16]:
#35.Was to concat the  new value in the starting of the given tupple.

t=("haii","hello","good","morning","goodnight")
print(t,id(t))

t=("hai",)+t

print(t,id(t))

('haii', 'hello', 'good', 'morning', 'goodnight') 1775465683584
('hai', 'haii', 'hello', 'good', 'morning', 'goodnight') 1775466384736

In [19]:
#36.Was to concat the new value in the midddle of the given tuple.

t=("hello","good","morning","goodnight")
print(t,id(t))

t=t[:len(t)//2]+([10,20],)+t[len(t)//2:]

print(t,id(t))

('hello', 'good', 'morning', 'goodnight') 1775466411440
('hello', 'good', [10, 20], 'morning', 'goodnight') 1775465683584

In [21]:
#37.Was to concat the new value in the specific position of the given tuple.

t=("hello","good","morning","goodnight","bye")
print(t,id(t))

t=t[:3]+([10,20],)+t[3:]

print(t,id(t))

('hello', 'good', 'morning', 'goodnight', 'bye') 1775466406080
('hello', 'good', 'morning', [10, 20], 'goodnight', 'bye') 1775466384736

In [25]:
#38.Was to concat the new value in the ending of the given tuple.

t=("hello","good","morning","goodnight","bye")
print(t,id(t))

t=t+("bye bye",)

print(t,id(t))

print("_*_"*40)
#2nd Method


t=("hello","good","morning","goodnight","bye")
print(t,id(t))

t+=("bye bye",)

print(t,id(t))

('hello', 'good', 'morning', 'goodnight', 'bye') 1775466406080
('hello', 'good', 'morning', 'goodnight', 'bye', 'bye bye') 1775466384736
_*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*_
('hello', 'good', 'morning', 'goodnight', 'bye') 1775466406080
('hello', 'good', 'morning', 'goodnight', 'bye', 'bye bye') 1775466384736

In [34]:
#39.Was to modify the values in the given tuple.

#starting

x=("hello","good","morning","goodnight","bye","bye bye")
print(x,id(x))

x=("haii",)+x[1:]


print("_*_"*40)


#Ending

x=("hello","good","morning","goodnight","bye","bye bye")
print(x,id(x))
x=x[0:-1]+('Good  bye',)

print(x)
print("_*_"*40)


#specific position

x=("hello","good","morning","goodnight","bye","bye bye")
print(x,id(x))
x=x[0:2]+('afternoon',)+x[2+1:]
print(x)

print("_*_"*40)


#sequence of values

x=("hello","good","morning","goodnight","bye","bye bye")
print(x,id(x))
x=x[0:2]+([10,2,0],)+x[4:]
print(x)

print("_*_"*40)

#middle of the values

x=("hello","good","morning","goodnight","bye","bye bye")
print(x,id(x))
x=x[0:len(x)//2]+("afternoon",)+x[(len(x)//2)+1:]
print(x)

print("_*_"*40)

('hello', 'good', 'morning', 'goodnight', 'bye', 'bye bye') 1775473273696
_*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*_
('hello', 'good', 'morning', 'goodnight', 'bye', 'bye bye') 1775473273696
('hello', 'good', 'morning', 'goodnight', 'bye', 'Good  bye')
_*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*_
('hello', 'good', 'morning', 'goodnight', 'bye', 'bye bye') 1775473273696
('hello', 'good', 'afternoon', 'goodnight', 'bye', 'bye bye')
_*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*_
('hello', 'good', 'morning', 'goodnight', 'bye', 'bye bye') 1775473273696
('hello', 'good', [10, 2, 0], 'bye', 'bye bye')
_*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*_
('hello', 'good', 'morning', 'goodnight', 'bye', 'bye bye') 1775473273696
('hello', 'good', 'morning', 'afternoon', 'bye', 'bye bye')
_*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*_

In [37]:
#40.Was to delete the values in the given tuple.

#starting

x=("hello","good","morning","goodnight","bye","bye bye")
print(x,id(x))

x=x[1:]


print("_*_"*40)


#Ending

x=("hello","good","morning","goodnight","bye","bye bye")
print(x,id(x))
x=x[0:-1]

print(x)
print("_*_"*40)


#specific position

x=("hello","good","morning","goodnight","bye","bye bye")
print(x,id(x))
x=x[0:2]+x[2+1:]
print(x)

print("_*_"*40)


#sequence of values

x=("hello","good","morning","goodnight","bye","bye bye")
print(x,id(x))
x=x[0:2]+([10,2,0],)+x[4:]
print(x)

print("_*_"*40)

#middle of the values

x=("hello","good","morning","goodnight","bye","bye bye")
print(x,id(x))
x=x[0:len(x)//2]+x[(len(x)//2)+1:]
print(x)

('hello', 'good', 'morning', 'goodnight', 'bye', 'bye bye') 1775473270528
_*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*_
('hello', 'good', 'morning', 'goodnight', 'bye', 'bye bye') 1775473270528
('hello', 'good', 'morning', 'goodnight', 'bye')
_*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*_
('hello', 'good', 'morning', 'goodnight', 'bye', 'bye bye') 1775473270528
('hello', 'good', 'goodnight', 'bye', 'bye bye')
_*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*_
('hello', 'good', 'morning', 'goodnight', 'bye', 'bye bye') 1775473270528
('hello', 'good', [10, 2, 0], 'bye', 'bye bye')
_*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*_
('hello', 'good', 'morning', 'goodnight', 'bye', 'bye bye') 1775473270528
('hello', 'good', 'morning', 'bye', 'bye bye')

In [45]:
#41.Wap to the set operations.

#union/Concat

s={10,20,30,40}
t={20,50,60}
res=s|t
print(res)  


#union/Concat/Union Update

s={10,20,30,40}
t={20,50,60}
s|=t
print(s)  

#difference/delete

s={10,20,30,40}
t={20}
res=s-t
print(res)  


#difference/delete/difference_update

s={10,20,30,40}
t={20}
s-=t
print(s)

{50, 20, 40, 10, 60, 30}
{50, 20, 40, 10, 60, 30}
{40, 10, 30}
{40, 10, 30}

In [51]:
#42.Was to contact the new key and value  in the given dictonary.

#adding the single pair

d={'a':10,"hello":"bye"}
print(d,id(d))
d['c']=30
print(d,id(d))


#adding multiple pairs

d={'a':10,"hello":"bye"}
x={'appple':10,"bat":1500,"ball":60}
print(d,id(d))
d|=x
print(d,id(d))


#adding multiple pairs

d={'a':10,"hello":"bye"}
x={'appple':200,"bat":"bye","ball":60}
print(d,id(d))
d|=x
print(d,id(d))

{'a': 10, 'hello': 'bye'} 1775473026240
{'a': 10, 'hello': 'bye', 'c': 30} 1775473026240
{'a': 10, 'hello': 'bye'} 1775473186752
{'a': 10, 'hello': 'bye', 'appple': 10, 'bat': 1500, 'ball': 60} 1775473186752
{'a': 10, 'hello': 'bye'} 1775472613632
{'a': 10, 'hello': 'bye', 'appple': 200, 'bat': 'bye', 'ball': 60} 1775472613632

In [58]:
#43.Was to delete the specific key and value in the given dict.

d={'appple':200,"hello":"bye","bat":"bye","ball":60}
print(d,id(d))
del d['ball']
print(d,id(d))


d={'appple':200,"hello":"bye","bat":"bye","ball":60}
print(d,id(d))
del [d['ball]]'[d['apple']]

SyntaxError: incomplete input (1648097785.py, line 11)

In [61]:
#44.Was to modify the specific value in the given dict.

d={'appple':200,"hello":"bye","bat":"bye","ball":60}
print(d,id(d))
d["apple"]=1500
print(d,id(d))


d={'appple':200,"hello":"bye","bat":"bye","ball":60}
print(d,id(d))
t={'appple':1500,"hello":"helloworld"}
print(d,id(d))
d|=tr4

{'appple': 200, 'hello': 'bye', 'bat': 'bye', 'ball': 60} 1775473028288
{'appple': 200, 'hello': 'bye', 'bat': 'bye', 'ball': 60, 'apple': 1500} 1775473028288
{'appple': 200, 'hello': 'bye', 'bat': 'bye', 'ball': 60} 1775473028800
{'appple': 200, 'hello': 'bye', 'bat': 'bye', 'ball': 60} 1775473028800

In [ ]:
#45.Was to delete the value in the starting of the given list.

In [ ]:
#46.Was to delete the value in the starting of the given list.

In [ ]:
#47.Was to delete the value in the starting of the given list.