In [3]:
#1.was to print Helloworld.
print("Helloworld")

Helloworld

In [11]:
#2.was to initiliaze variable and value as 50.
apple=20
print(apple)

20

In [12]:
#3.was to print the type of data in given value
a=10
print(type(a))

b=10.05
print(type(b))


c=10+5j
print(type(c))

d=True
print(type(d))

e=None
print(type(e))

f="hello how are you"
print(type(f))

g=(10,20)
print(type(g))

h=[10,20,30]
print(type(h))

i={10,20}
print(type(i))

j={'a':10,"b":20}
print(type(j))

<class 'int'>
<class 'float'>
<class 'complex'>
<class 'bool'>
<class 'NoneType'>
<class 'str'>
<class 'tuple'>
<class 'list'>
<class 'set'>
<class 'dict'>

In [21]:
#4.was to initiliaze multivariable values are 150,120,250

raja,rani,dinga=150,120,250
print(raja)
print(rani)
print(dinga)

150
120
250

In [22]:
#5.was to print the adress of the memory block in the given block

a=10
id(a)

140733458408520

In [40]:
#6.was to print your details,first store your details,extract the values and display.

#By using procedural programming language(variable concept):
name="Manideep"
age=21
phone=6300978091
email="manideep4536@gmail.com"
print(name,age,phone,email)

#predefined programming language using list.

m={name:"mani",age:21,phone:"6300978091.",}
print(m[name])
print(m[age])
print(m[phone])

Manideep 21 6300978091 manideep4536@gmail.com
mani
21
6300978091.

In [4]:
#7.was to swap two values by using a temp varaible
x="hai"
y="bye"
temp=x
x=y
y=temp
print(x)
print(y)


a=10
b=20
temp=a
a=b
b=temp
print(a,b)

bye
hai
20 10

In [45]:
#8.was to swap two values without using a third varaible or temp variable.
x={"a":10}
y=(10,20)
x,y=y,x
print(x)
print(y)

(10, 20)
{'a': 10}

In [8]:
#9.was to initilize a value and print the value,after printing the value,then reinitilize the new value to the existing variable and display the value.

a=150
print(a)
a=[10,20]
print(a)
# del (a)
# print(a) #since 'a' is deleted it will display error

150
[10, 20]

In [50]:
#10.was to convert a single to multi value datatype.
a=100
b=str(a)
print(b)
c=list(b)
print(c)

100
['1', '0', '0']

In [71]:
#11.was to concat two multivalues datatypes(str,list,tuple,set,dict)
#forward concatenation by using addition operator.

a="raja"
b="rani"
c=a+b
print(c)
print(a)
print(b)
print("_*_"*30)
#forward concatenation by using compound assignment operator.
a+=b
print(a)
print("_*_"*30)
a="raja"
b="rani"
d=b+a
print(d)
print("_*_"*30)

#lists:
l=[10,20]
t=[30,40]
m=l+t
print(m)

print("_*_"*30)
l+=t
print(l)
print(t)

print("_*_"*30)

x=[]
x+="hello"
print(x)

print("_*_"*30)

x=[]
x+=[10,20,30]
print(x)

print("_*_"*30)

x=[]
x+={10:20,30:40} #dictonary accepts only keys, only keys are visible.
print(x)

print("_*_"*30)

x+=[]
x+=b"1010"
print(x)

rajarani
raja
rani
_*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*_
rajarani
_*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*_
raniraja
_*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*_
[10, 20, 30, 40]
_*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*_
[10, 20, 30, 40]
[30, 40]
_*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*_
['h', 'e', 'l', 'l', 'o']
_*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*_
[10, 20, 30]
_*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*_
[10, 30]
_*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*_
[10, 30, 49, 48, 49, 48]

In [7]:
#12.was to calculate the length of the given collection

len("hello")
print(len("hello"))
print("_*_"*30)

 #len can be accessed by only single value datatypes so list does not support length function.

len({10,20,30,40})

5
_*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*_

4

In [89]:
#13.was to findout the middle value of the given collection

a="hello"
print(a[2])
print("_*_"*30)

a="hello"  # odd number of collection.
print(a[len(a)//2])
print("_*_"*30)

b="cute"
print(b[len(b)//2])

l
l
t

In [4]:
#14.was to concat the new string into the starting of the given string.

c="hello"
d="world"

e=d+c
print(e)

d+=c
print(d)

a='bye'
a='hai'+a
print(a)

worldhello
worldhello
haibye

In [5]:
#15.was to concat the new string into the ending of the given string.

x="haii"
y="bye"
z=x+y
print(z)

x+=y
print(x)

a='bye'
a=a+'hai'
print(a)

haiibye
haiibye
byehai

In [18]:
#16.was to concat the new string into the middle of the given string.

x="haii rama"
print(x[0:len(x)//2])
print("_*_"*30)

x[len(x)//2:]
print(x[len(x)//2:])  # space will be added.
print("_*_"*30)

x[0:len(x)//2]+"good morning"+x[len(x)//2:]
print(x[0:len(x)//2] + "good morning" + x[len(x)//2:])
print("_*_"*30)

a='hello'
print(a[0:len(a)//2]+'good'+a[len(a)//2:])

haii
_*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*_
 rama
_*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*_
haiigood morning rama
_*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*_
hegoodllo

In [114]:
#17.was to modify the new character into the middle of the given string.

x="haii rama"
print(x[0:len(x)//2]+" " '@'+x[(len(x)//2)+1:])

print(x[0:len(x)//2]+'@'+x[(len(x)//2):])

haii @rama
haii@ rama

In [115]:
#18.was to print your name.
name="manideep"
print(name)

manideep

In [2]:
#19.Was to replace the old character into a new character of the given string.
st="PYSPIDERS"
res = st[:-3]+"Q"+st[-2:]
print(res)

temp=st[:6]+"Q"+st[7:]
print(temp)

PYSPIDQRS
PYSPIDQRS

In [5]:
#20.WAS to delete the specific character in the given string 

st="QSPIDERS"
res=st[:4]+st[4+1:]
print(res)

res=st[:-4]+st[-3:]
print(res)

QSPIERS
QSPIERS

In [6]:
#21.was to delete the sequence of characters in the given string.
#i/p:  st="QSPIDERS"
#o/p:  QSRS


res=st[:2]+st[6:]
print(res)

res=st[:2]+st[-2:]
print(res)

res=st[:-6]+st[-2:]
print(res)

res=st[:-6]+st[6:]
print(res)

QSRS
QSRS
QSRS
QSRS

In [12]:
#22.Was to concat the new string into the specific position of the given string.

#i/p:  st="QSPIDERS"
#o/p:  st="QSPI123456DERS"

st="QSPIDERS"
res=st[0:4]+"123456"+st[4:]
print(res)

st="QSPIDERS"
res=st[0:-4]+"123456"+st[-4:]
print(res)

#i/p:  st="QSPIDERS"
#o/p:  st="SRED123456IPSQ"

st="QSPIDERS"
res=st[-1:-5:-1]+"123456"+st[-5::-1]
print(res)

st="QSPIDERS"
res=st[:3:-1]+"123456"+st[3::-1]
print(res)

QSPI123456DERS
QSPI123456DERS
SRED123456IPSQ
SRED123456IPSQ

In [19]:
#23.Was to concat the new value into the starting of the given list.

l=[10,20,30,50,"hello",'hai']
print(l,id(l))

l=[100,200]+l

print(l,id(l))

l=[10,20,30,50,"hello",'hai']
print(l,id(l))
l[0:0]=[100,200]
print(l,id(l))

[10, 20, 30, 50, 'hello', 'hai'] 1691509912320
[100, 200, 10, 20, 30, 50, 'hello', 'hai'] 1691509902592
[10, 20, 30, 50, 'hello', 'hai'] 1691509902784
[100, 200, 10, 20, 30, 50, 'hello', 'hai'] 1691509902784

In [32]:
#24.Was to concat the new value into the ending of the given list.

t=[10,20,30,50,"hello","haii"]
print(t,id(t))
t=t+[100,200]
print(t,id(t))

t=[10,20,30,50,"hello","haii"]
print(t,id(t))
t+=[100,200]
print(t,id(t))

t=[10,20,30,50,"hello","haii"]
print(t,id(t))
t[len(t):len(t)]=[100,200]#6:6
print(t,id(t))

t=[10,20,30,50,"hello","haii"]
print(t,id(t))
t[-1:-1]=[100,200]
print(t,id(t)) #it is not correct because the order is not proper order.

[10, 20, 30, 50, 'hello', 'haii'] 1691509927744
[10, 20, 30, 50, 'hello', 'haii', 100, 200] 1691504077184
[10, 20, 30, 50, 'hello', 'haii'] 1691509917824
[10, 20, 30, 50, 'hello', 'haii', 100, 200] 1691509917824
[10, 20, 30, 50, 'hello', 'haii'] 1691504077184
[10, 20, 30, 50, 'hello', 'haii', 100, 200] 1691504077184
[10, 20, 30, 50, 'hello', 'haii'] 1691509917824
[10, 20, 30, 50, 'hello', 100, 200, 'haii'] 1691509917824

In [44]:
#25.Was to concat the new value in the middle of the given list.

y=[10,20,"hello","100","haii"]
print(y,id(y))
y=y[:len(y)//2]+['a','b']+y[len(y)//2:]
print(y,id(y))

print("_*_"*30)

y=[10,20,"hello","100","haii","bye"]
print(y,id(y))
y=y[:len(y)//2]+['a','b']+y[len(y)//2:]
print(y,id(y))

print("_*_"*30)

y=[10,20,"hello","100","haii"]
print(y,id(y))
y[len(y)//2:len(y)//2:]=['a','b']
print(y,id(y))

print("_*_"*30)

y=[10,20,"hello","100","haii","bye"]
print(y,id(y))
y[len(y)//2:len(y)//2:]=['a','b']
print(y,id(y))

[10, 20, 'hello', '100', 'haii'] 1691509935424
[10, 20, 'a', 'b', 'hello', '100', 'haii'] 1691509941760
_*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*_
[10, 20, 'hello', '100', 'haii', 'bye'] 1691509616448
[10, 20, 'hello', 'a', 'b', '100', 'haii', 'bye'] 1691509942016
_*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*_
[10, 20, 'hello', '100', 'haii'] 1691509935424
[10, 20, 'a', 'b', 'hello', '100', 'haii'] 1691509935424
_*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*_
[10, 20, 'hello', '100', 'haii', 'bye'] 1691509616448
[10, 20, 'hello', 'a', 'b', '100', 'haii', 'bye'] 1691509616448

In [ ]:
#26.Was to concat the new value in the specific position of the given list.

l=[10,20,"hello",'a','b',100,"haii"]

In [41]:
#27.Was to modify the sequence of new value's in the specific position of the given list.

l=[10,20,"hello",'a','b',100,"haii",66]
print(l,id(l))
l[2:2]=["helloworld","goodbye"]
print(l,id(l))

[10, 20, 'hello', 'a', 'b', 100, 'haii', 66] 1691504352704
[10, 20, 'helloworld', 'goodbye', 'hello', 'a', 'b', 100, 'haii', 66] 1691504352704

In [43]:
#28.Was to modify the new value in the starting of the given list.

l=[10,20,"hello",'a','b',100,"haii",66]
print(l,id(l))
l[0]="helloworld"
print(l,id(l))

[10, 20, 'hello', 'a', 'b', 100, 'haii', 66] 1691509823040
['helloworld', 20, 'hello', 'a', 'b', 100, 'haii', 66] 1691509823040

In [47]:
#28.Was to modify the new value in the ending of the given list.
l=[10,20,"hello",'a','b',100,"haii",66]
print(l,id(l))
l[-1]="helloworld"
print(l,id(l))

print("_*_"*30)

[10, 20, 'hello', 'a', 'b', 100, 'haii', 66] 1691510089664
[10, 20, 'hello', 'a', 'b', 100, 'haii', 'helloworld'] 1691510089664
_*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*_

In [51]:
#28.Was to modify the new value in the middle of the given list.
l=[10,20,"hello",'a','b',100,"haii",66]
print(l,id(l))
l[len(l)//2]="[helloworld]"
print(l,id(l))

print("_*_"*30)
l=[10,20,"hello",'a','b',100,"haii",66]
print(l,id(l))
l[len(l)//2]="helloworld"
print(l,id(l))

[10, 20, 'hello', 'a', 'b', 100, 'haii', 66] 1691504114560
[10, 20, 'hello', 'a', '[helloworld]', 100, 'haii', 66] 1691504114560
_*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*_
[10, 20, 'hello', 'a', 'b', 100, 'haii', 66] 1691510143104
[10, 20, 'hello', 'a', 'helloworld', 100, 'haii', 66] 1691510143104

In [1]:
#29.Was to modify the first 4 positions in the given list.

l=[1,2,3,4,5,6]
print(l,id(l))
l[0:4]=['a','b','c','d']
print(l,id(l))

[1, 2, 3, 4, 5, 6] 1775466643968
['a', 'b', 'c', 'd', 5, 6] 1775466643968

In [2]:
#30.Was to delete the value in the specific position in the given list.

l=[1,2,3,4,5,6]
print(l,id(l))

del l[3]

print(l,id(l))

[1, 2, 3, 4, 5, 6] 1775466586944
[1, 2, 3, 5, 6] 1775466586944

In [4]:
#31.Was to delete the value in the ending of the given list.

l=[1,2,3,4,5,6]
print(l,id(l))

del l[-1]

print(l,id(l))

#2nd Method

l=[1,2,3,4,5,6]
print(l,id(l))

del l[len(l)-1]

print(l,id(l))

[1, 2, 3, 4, 5, 6] 1775465834944
[1, 2, 3, 4, 5] 1775465834944
[1, 2, 3, 4, 5, 6] 1775465786816
[1, 2, 3, 4, 5] 1775465786816

In [6]:
#32.Was to delete the value in the middle of the given list.

l=[1,2,3,4,5,6,7]
print(l,id(l))

del l[len(l)//2]

print(l,id(l))

#2nd Method

l=[1,2,3,4,5,6]
print(l,id(l))

del l[len(l)//2]

print(l,id(l))

[1, 2, 3, 4, 5, 6, 7] 1775444056064
[1, 2, 3, 5, 6, 7] 1775444056064
[1, 2, 3, 4, 5, 6] 1775466637056
[1, 2, 3, 5, 6] 1775466637056

In [8]:
#33.Was to delete the value in the starting of the given list.

l=[1,2,3,4,5,6,7]
print(l,id(l))

del l[0]

print(l,id(l))

#2nd Method

l=[1,2,3,4,5,6,7]
print(l,id(l))

del l[-(len(l))]

print(l,id(l))

[1, 2, 3, 4, 5, 6, 7] 1775465786176
[2, 3, 4, 5, 6, 7] 1775465786176
[1, 2, 3, 4, 5, 6, 7] 1775466646784
[2, 3, 4, 5, 6, 7] 1775466646784

In [15]:
#34.Was to delete the Sequence of values from the given list.

l=[1,2,3,4,5,6]
print(l,id(l))

del l[0:4]

print(l,id(l))

print("_*_"*30)

#2nd Method

l=[1,2,3,4,5,6,'a','b','c','d','e']
print(l,id(l))

del l[4:0:-1]

print(l,id(l))

print("_*_"*30)

#3rd Method

l=[1,2,3,4,5,6,'a','b','c','d','e']
print(l,id(l))

del l[-1:-6:-1]

print(l,id(l))

[1, 2, 3, 4, 5, 6] 1775466605184
[5, 6] 1775466605184
_*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*_
[1, 2, 3, 4, 5, 6, 'a', 'b', 'c', 'd', 'e'] 1775466649408
[1, 6, 'a', 'b', 'c', 'd', 'e'] 1775466649408
_*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*_
[1, 2, 3, 4, 5, 6, 'a', 'b', 'c', 'd', 'e'] 1775466574528
[1, 2, 3, 4, 5, 6] 1775466574528

In [116]:
#35.Was to concat the  new value in the starting of the given tupple.

t=("haii","hello","good","morning","goodnight")
print(t,id(t))
print("_*_"*30)
t=("hai",)+t

print(t,id(t))

('haii', 'hello', 'good', 'morning', 'goodnight') 1782183277840
_*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*_
('hai', 'haii', 'hello', 'good', 'morning', 'goodnight') 1782185091104

In [117]:
#36.Was to concat the new value in the midddle of the given tuple.

t=("hello","good","morning","goodnight")
print(t,id(t))

print("_*_"*30)

t=t[:len(t)//2]+([10,20],)+t[len(t)//2:]

print(t,id(t))

('hello', 'good', 'morning', 'goodnight') 1782185072400
_*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*_
('hello', 'good', [10, 20], 'morning', 'goodnight') 1782183277840

In [118]:
#37.Was to concat the new value in the specific position of the given tuple.

t=("hello","good","morning","goodnight","bye")
print(t,id(t))

print("_*_"*30)
t=t[:3]+([10,20],)+t[3:]

print(t,id(t))

('hello', 'good', 'morning', 'goodnight', 'bye') 1782184932304
_*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*_
('hello', 'good', 'morning', [10, 20], 'goodnight', 'bye') 1782185091104

In [25]:
#38.Was to concat the new value in the ending of the given tuple.

t=("hello","good","morning","goodnight","bye")
print(t,id(t))

t=t+("bye bye",)

print(t,id(t))

print("_*_"*40)
#2nd Method


t=("hello","good","morning","goodnight","bye")
print(t,id(t))

t+=("bye bye",)

print(t,id(t))

('hello', 'good', 'morning', 'goodnight', 'bye') 1775466406080
('hello', 'good', 'morning', 'goodnight', 'bye', 'bye bye') 1775466384736
_*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*_
('hello', 'good', 'morning', 'goodnight', 'bye') 1775466406080
('hello', 'good', 'morning', 'goodnight', 'bye', 'bye bye') 1775466384736

In [34]:
#39.Was to modify the values in the given tuple.

#starting

x=("hello","good","morning","goodnight","bye","bye bye")
print(x,id(x))

x=("haii",)+x[1:]


print("_*_"*40)


#Ending

x=("hello","good","morning","goodnight","bye","bye bye")
print(x,id(x))
x=x[0:-1]+('Good  bye',)

print(x)
print("_*_"*40)


#specific position

x=("hello","good","morning","goodnight","bye","bye bye")
print(x,id(x))
x=x[0:2]+('afternoon',)+x[2+1:]
print(x)

print("_*_"*40)


#sequence of values

x=("hello","good","morning","goodnight","bye","bye bye")
print(x,id(x))
x=x[0:2]+([10,2,0],)+x[4:]
print(x)

print("_*_"*40)

#middle of the values

x=("hello","good","morning","goodnight","bye","bye bye")
print(x,id(x))
x=x[0:len(x)//2]+("afternoon",)+x[(len(x)//2)+1:]
print(x)

print("_*_"*40)

('hello', 'good', 'morning', 'goodnight', 'bye', 'bye bye') 1775473273696
_*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*_
('hello', 'good', 'morning', 'goodnight', 'bye', 'bye bye') 1775473273696
('hello', 'good', 'morning', 'goodnight', 'bye', 'Good  bye')
_*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*_
('hello', 'good', 'morning', 'goodnight', 'bye', 'bye bye') 1775473273696
('hello', 'good', 'afternoon', 'goodnight', 'bye', 'bye bye')
_*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*_
('hello', 'good', 'morning', 'goodnight', 'bye', 'bye bye') 1775473273696
('hello', 'good', [10, 2, 0], 'bye', 'bye bye')
_*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*_
('hello', 'good', 'morning', 'goodnight', 'bye', 'bye bye') 1775473273696
('hello', 'good', 'morning', 'afternoon', 'bye', 'bye bye')
_*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*_

In [37]:
#40.Was to delete the values in the given tuple.

#starting

x=("hello","good","morning","goodnight","bye","bye bye")
print(x,id(x))

x=x[1:]


print("_*_"*40)


#Ending

x=("hello","good","morning","goodnight","bye","bye bye")
print(x,id(x))
x=x[0:-1]

print(x)
print("_*_"*40)


#specific position

x=("hello","good","morning","goodnight","bye","bye bye")
print(x,id(x))
x=x[0:2]+x[2+1:]
print(x)

print("_*_"*40)


#sequence of values

x=("hello","good","morning","goodnight","bye","bye bye")
print(x,id(x))
x=x[0:2]+([10,2,0],)+x[4:]
print(x)

print("_*_"*40)

#middle of the values

x=("hello","good","morning","goodnight","bye","bye bye")
print(x,id(x))
x=x[0:len(x)//2]+x[(len(x)//2)+1:]
print(x)

('hello', 'good', 'morning', 'goodnight', 'bye', 'bye bye') 1775473270528
_*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*_
('hello', 'good', 'morning', 'goodnight', 'bye', 'bye bye') 1775473270528
('hello', 'good', 'morning', 'goodnight', 'bye')
_*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*_
('hello', 'good', 'morning', 'goodnight', 'bye', 'bye bye') 1775473270528
('hello', 'good', 'goodnight', 'bye', 'bye bye')
_*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*_
('hello', 'good', 'morning', 'goodnight', 'bye', 'bye bye') 1775473270528
('hello', 'good', [10, 2, 0], 'bye', 'bye bye')
_*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*__*_
('hello', 'good', 'morning', 'goodnight', 'bye', 'bye bye') 1775473270528
('hello', 'good', 'morning', 'bye', 'bye bye')

In [45]:
#41.Wap to the set operations.

#union/Concat

s={10,20,30,40}
t={20,50,60}
res=s|t
print(res)  


#union/Concat/Union Update

s={10,20,30,40}
t={20,50,60}
s|=t
print(s)  

#difference/delete

s={10,20,30,40}
t={20}
res=s-t
print(res)  


#difference/delete/difference_update

s={10,20,30,40}
t={20}
s-=t
print(s)

{50, 20, 40, 10, 60, 30}
{50, 20, 40, 10, 60, 30}
{40, 10, 30}
{40, 10, 30}

In [51]:
#42.Was to contact the new key and value  in the given dictonary.

#adding the single pair

d={'a':10,"hello":"bye"}
print(d,id(d))
d['c']=30
print(d,id(d))


#adding multiple pairs

d={'a':10,"hello":"bye"}
x={'appple':10,"bat":1500,"ball":60}
print(d,id(d))
d|=x
print(d,id(d))


#adding multiple pairs

d={'a':10,"hello":"bye"}
x={'appple':200,"bat":"bye","ball":60}
print(d,id(d))
d|=x
print(d,id(d))

{'a': 10, 'hello': 'bye'} 1775473026240
{'a': 10, 'hello': 'bye', 'c': 30} 1775473026240
{'a': 10, 'hello': 'bye'} 1775473186752
{'a': 10, 'hello': 'bye', 'appple': 10, 'bat': 1500, 'ball': 60} 1775473186752
{'a': 10, 'hello': 'bye'} 1775472613632
{'a': 10, 'hello': 'bye', 'appple': 200, 'bat': 'bye', 'ball': 60} 1775472613632

In [6]:
#43.Was to delete the specific key and value in the given dict.

d={'appple':200,"hello":"bye","bat":"bye","ball":60}
print(d,id(d))
del d['ball']
print(d,id(d))


d={'apple':200,"hello":"bye","bat":"bye","ball":60}
print(d,id(d))
del [d['ball']],[d['apple']]
print(d,id(d))

{'appple': 200, 'hello': 'bye', 'bat': 'bye', 'ball': 60} 1511416764544
{'appple': 200, 'hello': 'bye', 'bat': 'bye'} 1511416764544
{'apple': 200, 'hello': 'bye', 'bat': 'bye', 'ball': 60} 1511410537088
{'hello': 'bye', 'bat': 'bye'} 1511410537088

In [8]:
#44.Was to modify the specific value in the given dict.

d={'appple':200,"hello":"bye","bat":"bye","ball":60}
print(d,id(d))
d["apple"]=1500
print(d,id(d))


d={'appple':200,"hello":"bye","bat":"bye","ball":60}
print(d,id(d))
t={'appple':1500,"hello":"helloworld"}
print(d,id(d))
d|=t
print(d,id(d))

{'appple': 200, 'hello': 'bye', 'bat': 'bye', 'ball': 60} 1511411276032
{'appple': 200, 'hello': 'bye', 'bat': 'bye', 'ball': 60, 'apple': 1500} 1511411276032
{'appple': 200, 'hello': 'bye', 'bat': 'bye', 'ball': 60} 1511410537088
{'appple': 200, 'hello': 'bye', 'bat': 'bye', 'ball': 60} 1511410537088
{'appple': 1500, 'hello': 'helloworld', 'bat': 'bye', 'ball': 60} 1511410537088

In [16]:
#45.Was to concat the list value and tuple value by using type casting.
l=[10,20,30,50]
j=("A","B","C","D")
res=l+list(j)
print(res)

l=[10,20,30,50]
j=("A","B","C","D")
res=tuple(l)+j
print(res)

l=[10,20,30,50]
j=("A","B","C","D")
l+=list(j)
print(l)

l=[10,20,30,50]
j=("A","B","C","D")
j+=tuple(l)
print(j)

[10, 20, 30, 50, 'A', 'B', 'C', 'D']
(10, 20, 30, 50, 'A', 'B', 'C', 'D')
[10, 20, 30, 50, 'A', 'B', 'C', 'D']
('A', 'B', 'C', 'D', 10, 20, 30, 50)

In [19]:
#46.Was to concat the list value and tuple value without using type casting.

l=['a','b','c','d']
t=(1,2,3,4,5,6)
l+=t
print(l)

l=['a','b','c','d']
t=(1,2,3,4,5,6)
t+=l
print(l)  #error because can only concatenate tuple (not "list") to tuple

['a', 'b', 'c', 'd', 1, 2, 3, 4, 5, 6]

TypeError: can only concatenate tuple (not "list") to tuple

In [8]:
#47.Was to the given number is divisible by 3 or not.
n=15
ans=n%3==0
print(ans)

True

In [21]:
#48.WAC to the given number is divisible by 2 and 6. 

n=12
res=n%2==0 and n%6==0
print(res)

True

In [22]:
#49.WAP to extract the last digit from given integer number. (don't use typecasting).

n=1569
res=n%10
print(res)

n=1569
res=n%100
print(res)

n=1569
res=n%1000
print(res)

n=1569
res=n%10000
print(res)

9
69
569
1569

In [25]:
#50.WAP to eliminate the last digit from given integer number. (don't use typecasting).

n=1569
res=n//10
print(res)

n=1569
res=n//100
print(res)

n=1569
res=n//1000
print(res)

n=1569
res=n//10000
print(res)

156
15
1
0

In [26]:
#51.WAP to eliminate the last second digit from given integer number. (don't use typecasting).

n=1879
res=(n%100)//10
print(res)

n=1879
res=(n%1000)//100
print(res)

7
8

In [27]:
#52.WAC to check last digit is divisible by 3 from the given number or not. (don't use typecasting)

n=1879
res=((n%10)%3)==0
print(res)

True

In [32]:
#53.WAE to check last digit is divisible by 3 from the given number or not. (by using typecasting).

n=1569
res=str(n)[-1]
print(res,type(res))

res1=int(str(n)[-1])
print(res1,type(res1))

res1=(int(str(n)[-1])%3)==0
print(res1,type(res1))

9 <class 'str'>
9 <class 'int'>
True <class 'bool'>

In [33]:
#54.WAC to check the given number is greater than 150 or not.

n=420
res=n>150
print(res)

True

In [34]:
#55.WAC to check the given number is greater than or not or equal to 100.

n=420
res=(n>100)
print(res)

True

In [35]:
#56.WAC to check the given number is less than 150, print the result.

n=150
res=(n<150)
print(res)

False

In [36]:
#57.WAC to check the given number is less than  or equal to 150, print the result.

n=150
res=(n<=150)
print(res)

True

In [39]:
#58.WAE to check the given number is greater than 15 & less than 24.

n=20
res=(n>15 and n<24)
print(res)

n=20
res=(15<n and n<24)
print(res)

n=20
res=(15<n<24)
print(res)

True
True
True

In [40]:
#59.WAC to check the given number is even or not.

n=18
res=(n%2==0)
print(res)

True

In [43]:
#60.WAC to check the given number is odd.

n=18
res=(n%2!=0)
print(res)

n=18
res=not(n%2==0)
print(res)

False
False

In [44]:
#61.WAC to perform the replication/repeatation of a given string with 6.

b="haii"
res=(b*6)
print(res)

haiihaiihaiihaiihaiihaii

In [46]:
#62.WAC to check the given number is divisible by 3 and also the number should be greater than 22.

n=29
res=(n%3==0) and (n>22)
print(res)  # 29 not diivsible by 3

n=27
res=(n%3==0) and (n>22)
print(res)

False
True

In [58]:
#63.WAC to perform the length of the collection is even or not.

c="HelloWorld"
res=(len(c)%2==0)
print(res)

True

In [60]:
#64.WAC to check the length of the collection is less than 55 and greater than 16.

n="jasjdhakjdahkjdah"
res=(16<len(n)<55)
print(res)
print(len(n))

True
17

In [65]:
#65.WAC to check the length of the collection is divisible by 5 and odd.

n="helloworld@haii"
res=(len(n)%5==0 and len(n)%2!=0)
print(res)
len(n)

True

15

In [69]:
#66.WAC to extract the middle position of a given collection.(str, lis, tuple)
#string
s="pyspiders"
res=s[len(s)//2]
print(res)


#list
s=[10,20,30]
res=s[len(s)//2]
print(res)

#tuple
s=(10,'a',30)
res=s[len(s)//2]
print(res)

i
20
a

In [71]:
#67.WAE to check the given number is greater than 20 and less than 30 and it should be even.)

n=26
res=(20<n<30) and (n%2==0)
print(res)


n=36
res=(20<n<30) and (n%2==0)
print(res)

True
False

In [72]:
#68.WAE to check the given number is even and it should be less than 120.

n=116
res=(n<120) and (n%2==0)
print(res)

True

In [73]:
#69.WAC to check the given number is even and present from 40 to 70 

n=70
res=(40<=n<=120) and (n%2==0)
print(res)

True

In [19]:
#70.WAE to check the given number is odd and it should be greater than 97.

n=99
print(n%2!=0 and n>97)

True

In [21]:
#71.WAE to check the given number is less than 122 and greater than 48 and the number should be divisible by 4.

n=3
print(n<122 and n>48 and n%4==0)

False

In [27]:
#72.WAE to check the given number is divisible by 3 or 5, displaying the value.

n=5
print(n%3==0 or n%5==0 )

True

In [30]:
#73.WAE to check the given number is between 100 to 200 including the limit.

n=100
print(100<=n<=200)

True

In [32]:
#74.WAE to check the given number is in between 100 to 200.

n=101
print(100<n<200)

True

In [35]:
#75.WAE to check the given string's last character ASCII value should be divisible by 5. 
s='hello'
m=ord(s[-1])
print(m%5==0)

False

In [38]:
#76.WAE to check the given number is present between 60 to 130 and the number should be divisible by 3 and 4 and the last digit should be greater than 9.

n=72
print(60<n<130 and n%3==0 and n%4==0 and n%10>9)

False

In [40]:
#77.WAE to check the given number is even or less than 25.

n=22
print(n%2==0 or  n<25)

True

In [43]:
#78.WAE to check the given number is even or greater than 25.

n=26
print(n%2==0 or  n<25)

True

In [47]:
#79.WAE to check the given number is divisible by either 3 or 5.

n=9
print(n%3==0 or n%5==0)

True

In [50]:
#80.WAE to check the given number is not an even number.

n=3
print(n%2!=0)

True

In [52]:
#81.WAE to check the given number is not a odd number.

n=4
print(not(n%2!=0))

True

In [53]:
#82.WAE to check the given number is not a divisible by 3.
n=4
print(not(n%3==0))

True

In [57]:
#83.WAE to check the given number is not divisible by 3 and  5.

n=5
print(not(n%3==0 and n%5==0))

True

In [65]:
#84.WAE to check the given character ascii value is not divisible by 5.

n="2"
res=ord(n)
print(ord(n))
print(res%5!=0)

50
False

In [7]:
#85.WAC to find out the ascii character in a given number.
n=65
print(chr(n)) 

n=90
print(chr(n)) 

n=97
print(chr(n)) 

n=122
print(chr(n)) 

n=48
print(chr(n)) 

n=57
print(chr(n)) 

n=0
print(chr(n)) 

n=1
print(chr(n)) 

n=58
print(chr(n)) #out of range

A
Z
a
z
0
9
 

:

In [9]:
#86.WAC to find out the ascii value in a given character.
ch='A'
print(ord(ch))

ch='Z'
print(ord(ch))

ch='a'
print(ord(ch))

ch='z'
print(ord(ch))

ch='0'
print(ord(ch))

ch='9'
print(ord(ch))

# ch='A'
# print(ord(ch))

65
90
97
122
48
57

In [21]:
#87.WAE to Convert upper case to lower case.

ch='A'
print(chr(ord(ch)+32))

ch='C'
print(chr(ord(ch)+32))

ch='A'
print(ch.lower())

a
c
a

In [19]:
#88.WAE to Convert lower case to upper case.

ch='a'
print(chr(ord(ch)-32))

ch='A'
print(ch.upper())

A
A

In [24]:
#89.WAE to check the given character is uppercase or not.

ch='Y'
print(65<=ord(ch)<=90)  #this condition will consider only on character

ch='Ya'
print(chr(65)<=ch<=chr(90))

ch='M'
print('A'<=ch<='Z')

ch='Ya'
print(len(ch)==1) and chr(65)<=ch<=chr(90)  #this condition will consider only on character

ch='Ma'
print(len(ch)==1 and 'A'<=ch<='Z')

ch='MA'
print(ch.isupper()) #isupper will consider each character in given string

True
True
True
False
False
True

In [25]:
#90.WAE to check the given character is lowercase or not.

ch='a'
print(97<=ord(ch)<=122)  #this condition will consider only on character

ch='aG'
print(chr(97)<=ch<=chr(122))

ch='gJ'
print('a'<=ch<='z')

ch='aY'
print(len(ch)==1) and chr(97)<=ch<=chr(122)  #this condition will consider only on character

ch='Ma'
print(len(ch)==1 and 'a'<=ch<='z')

ch='at'
print(ch.islower()) #isupper will consider each character in given string

True
True
True
False
False
True

In [ ]:
#91.WAE to the given character is the alphabet or not.

ch='R'
print(97<=ord(ch)<=122 or 65<=ord(ch)<=)  #this condition will consider only on character

ch='aG'
print(chr(97)<=ch<=chr(122))

ch='gJ'
print('a'<=ch<='z')

ch='aY'
print(len(ch)==1) and chr(97)<=ch<=chr(122)  #this condition will consider only on character

ch='Ma'
print(len(ch)==1 and 'a'<=ch<='z')

ch='at'
print(ch.islower()) #isupper will consider each character in given string

In [71]:
#92.WAE to check the given character is lowercase.

s="HELLO"
print(s.islower())

False

In [27]:
#93.WAC to the given character is the ascii number.

ch='9'
print(48<=ord(ch)<=57) #this condition will consider only on character

ch='8'
print(chr(48)<=ch<=chr(57))

ch='6'
print('0'<=ch<='9')

ch='a'
print(len(ch)==1) and (chr(48)<=ch<=chr(57))  #this condition will consider only on character

ch='M'
print(len(ch)==1 and '0'<=ch<='9')

ch='9'
print(ch.isnumeric()) #isnumeric will consider each character in given string


ch='9'
print(ch.isdigit())

True
True
True
True
False
True
True

In [33]:
#94.WAE to the given character is the special character or not.

ch='*'
print(not('A'<=ch<='Z' or 'a'<=ch<='z' or '0'<=ch<='9'))

ch='*'
print(1<=ord(ch)<=47 or 59<=ord(ch)<=64 or 91<=ord(ch)<=96 or 122<=ord(ch)<=127)

ch='*'
print(not(ch.isalnum()))

True
True
True

In [35]:
#95.WAC to the given character should not be uppercase.

ch='D'
print(len(ch)==1 and not('A'<=ch<='Z'))

False

In [36]:
#96.WAC to the given character should not be lowercase.

ch='D'
print(len(ch)==1 and not('a'<=ch<='z'))

True

In [37]:
#97.WAC to the given character should not be Alphabet.

ch='q'
print(len(ch)==1 and not('a'<=ch<='z' or 'A'<=ch<='Z'))

False

In [ ]:
#98.WAC to the given character should not be an ascii number.

In [ ]:
#99.WAE to check the given character is the special character or not.

In [ ]:
#100.WAE to check the given character is a vowel or not.

In [ ]:
#101.WAE to check the given character is  a consonant or not.

In [ ]:
#102.WAE to convert uppercase to lowercase in a given character.

In [ ]:
#103.WAE to convert lowercase to uppercase in a given character.

In [1]:
#104.WAC to extract the previous character in the given character.

ch="D"
print(chr(ord(ch)-1))

C

In [2]:
#105.WAC to extract the next character in the given character.

ch="D"
print(chr(ord(ch)+1))

E

In [3]:
#106.WAC to extract the previous character,given character and next character in the given character.

ch="D"
print(chr(ord(ch)-1),ch,chr(ord(ch)+1))

C D E

In [4]:
#107.WAC to check the given number character is a special symbol or not.

n=93
print(chr(n))
res=not('A'<=chr(n)<='Z' or 'a'<=chr(n)<='z' or '0'<=chr(n)<="9")
print(res)

]
True

In [7]:
#108.WAE to the given character is converted to ASCII value and the value is even as well as the character should be lowercase. 

ch='v'

print(ord(ch)%2==0 and 'a'<=ch<='z')

print(len(ch)==1 and ord(ch)%2==0 and 'a'<=ch<='z')

True
True

In [9]:
#109.WAE to the given character is converted to ASCII value and the value is odd as well as the character should be uppercase. 

ch='V'

print(ord(ch)%2!=0 and 'A'<=ch<='Z')

print(len(ch)==1 and ord(ch)%2!=0 and 'A'<=ch<='Z')

False
False

In [13]:
#110.WAE to the given number of the ascii character is a vowel or not.

ch=98

res=chr(ch)=='A' or chr(ch)=='E' or chr(ch)=='I' or chr(ch)=='O' or chr(ch)=='U' or chr(ch)=='a' or chr(ch)=='e' or chr(ch)=='i' or chr(ch)=='o' or chr(ch)=='u'

print(res)

res=chr(ch) in 'AEIOUaeiou'
print(res)

False
False

In [15]:
#111.WAE to check if the first and second characters are sequence or not in a given string.

st='ABCD'
print(ord(st[0])==ord(st[1])-1)
print(ord(st[0])+1==ord(st[1]))

True
True

In [16]:
#112.WAE to check the given  character ASCII value should be either greater than 50 or greater than 25 or less than 112.

ch='0'
print(25<ord(ch)<112)

True

In [23]:
#113.WAE that the given number is increased by 1.
n=5
n+=1

print(n)

6

In [20]:
#114.WAE that the given number is increased by 2.
n=5
n+=2
print(n)

7

In [18]:

#115.WAE that the given number is decreased by 1.
n=5
n-=1
print(n)

4

In [19]:
#116.WAE that the given number is decreased by 3.
n=5
n-=3
print(n)

2

In [25]:
#117.WAE to the given integer number is present in the collection.
n=105
l=[10,20,115,105,156,256]
print(n in l)

n=105
l=(10,20,115,105,156,256)
print(n in l)

n=115
l={10,20,115,105,156,256}
print(n in l)

n=115
l={10:20,115:105,156:256}
print(n in l)

n=112
l={10:20,115:105,156:256}
print(n in l)

True
True
True
True
False

In [29]:
#118.WAE to perform the addition operation on A value and B value and final result should be updated to A.

a=10
b=20
a=a+b
print(a)

30

In [ ]:
#119.WAE to check the given value is present in the collection or not.

In [31]:
#120.WAC to the given list is present in the list.

n=[10,20]
l=[10,10.05,16+5j,True,10,20]

print(n in l)

False

In [10]:
#121.WAC to the given dict is present in the tuple.

n={10:20}
l={'a':10,16:True,10:20}

print(n in l)

TypeError: unhashable type: 'dict'

In [32]:
#122.WAE to the check given value is integer value or not.

n=10
print(type(n)==int)

True

In [33]:
#123.WAE to the check given value is string value or not.
ch="hello"
print(type(ch)==str)

True

In [35]:
#124.WAE to the check given value is single valued data type or not.

n=10
type(n) in [int,float,complex,bytes,bool,type[None]]

True

In [37]:
#125.WAE to check the given value should not be a single value.

n="str"
type(n) not in [int,float,complex,bytes,bool,type[None]]

True

In [40]:
#126.WAE to check the given value is multi value or not.


n=[10,20]
res= type(n) not in [int,float,complex,bytes,bool,type[None]]
print(res)

n="str"
res= type(n) in [str,list,tuple,set,dict]
print(res)

True
True

In [42]:
#127.WAE to check the given value is a mutable value or not.

n=[10,20]
res= type(n) in [list,set,dict]
print(res)

True

In [44]:
#128.WAE to check the given value is an immutable value or not.

n=[10,20]
res= type(n) not in [list,set,dict]
print(res)

n=[10,20]
res= type(n) in [int,float,complex,bytes,bool,type(None),str,tuple]
print(res)

False
False

In [46]:
#129.WAC to check if the first and last characters are the same or not in the given list.

l=[10,20,30,40,50,10]
l[0]==l[-1]

True

In [ ]:
#130.WAE to check if a given value is divisible by 6 as well as that value present in the collection or not.

In [15]:
#131.WAE to perform the bitwise and operation given values are 15 and 19.

print(1210&1000)

168

In [4]:
#132.WAE to perform the bitwise or operation given values are 115 and 79.

print(115|79)

127

In [5]:
#133.WAE to perform the bitwise xor operation given values are 56 and 22.

56^22

46

In [9]:
#134.WAE to perform the bitwise not operation given values are 15 and 19.

print(15,~19)

15 -20

In [ ]:
#135.WAE to perform the bitwise left shift with 32 and skipping value is 3.

In [ ]:
#136.WAE to perform the bitwise right shift with 25 and skipping value is 2.

In [10]:
#137.WAE to find out the output of a given condition.
#                                                (10+20*60 and 10**3) or ({10,20} or not ([15-16]))

print((10+20*60 and 10**3) or ({10,20} or not ([15-16])))

1000

In [ ]:
#138.WAE to check if the first and last characters are the same or not in the given list.

In [48]:
#139.WAE to check if a given key is present in a dict.

ch="haii"
d={'hello':"hello","haii":"bye","good":"bad"}
print(ch in d)

ch="haii"
d={'hello':"hello","haii":"bye","good":"bad"}
res= ch in d.keys()
print(res)

True
True

In [54]:
#140.WAE to check if value is present in the dict.

ch="10"
d={'hello':"hello","haii":"bye","good":"bad"}
print(ch in d)


ch="bye"
d={'hello':"hello","haii":"bye","good":"bad"}

res=ch in d.values()
print(res)

False
True

In [53]:
#141.WAE to check if the key is not present in a dict.

ch="10"
d={'hello':"hello","haii":"bye","good":"bad"}
print(ch not in d)

ch="bye"
d={'hello':"hello","haii":"bye","good":"bad"}

res=ch not in d.keys()
print(res)

True
True

In [57]:
#142.WAE to check if two values are pointing to the same address or not.

m=[10,20,30]
n=m
print(n is m)

m=[10,20,30]
n=m.copy()
print(n is m)

m=[10,20,30]
n=m.copy()
print(n[0] is m[0])

import copy
m=[10,20,30]
n=copy.deepcopy(m)
print(n is m)

import copy
m=(10,20,30)
n=copy.deepcopy(m)
print(n is m)

True
False
True
False
True

In [59]:
#143.WAE to check both the values should be integer and both the values are pointing to the same address.

m=156
n=156
type(m)==int and type(n)==int and m is n

True