In [7]:
#swap two variables by using 3rd variable
x=10
y=20
temp=x
x=y
y=temp
print(x,y)

20 10

In [9]:
#without using 3rd variable
a=10
b=20
a,b=(b,a)
print(a,b)

20 10

In [10]:
#9.was to initilize a value and print the value,after printing the value,then reinitilize the new value to the existing variable and display the value.
a=20
print(a)
a=30
print(a)

20
30

In [22]:
##10.was to convert a single to multi value datatype.
a=10
a=str(a)
print(a)
type(a)

10

str

In [23]:
a=10
a=list(a)
print(a)
type(a)

TypeError: 'int' object is not iterable

single-int,float,bool,complex,bytes
multivalue-string,list,tuple,set,dictonary


imp-cannot convert 'complex' object to bytes
 <!-- alt + shift + down arrow  -->
 control+/ -->comment

In [27]:
a=10.0
print(type(a))
a=str(a)
print(a)
print(type(a))

<class 'float'>
10.0
<class 'str'>

In [35]:
d={'a':b,'b':a}
d=bytes(d)

TypeError: 'str' object cannot be interpreted as an integer

In [3]:
x=[12]
x+=(10,20)
print(x)

[12, 10, 20]