In [8]:
#1.WAP to print the “hello world” for 5 times by using a while loop.
i=1
while i<6:
    print("Helloworld")
    i+=1

Helloworld
Helloworld
Helloworld
Helloworld
Helloworld

In [12]:
#2.WAP to print the number from 1 to 10 by using a while loop.
i=1
while i<11:
    print(i)
    i+=1

1
2
3
4
5
6
7
8
9
10

In [16]:
#3.WAP to print the natural number until 1 to nth times by using a while loop.
i=1
while i<50: #50 
    print(i)
    i+=1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49

In [34]:
#4.WAP to print the reverse of the natural number nth to 0 times by using a while loop.
a=0
i=10
while i>a:
    print(i)
    i-=1

10
9
8
7
6
5
4
3
2
1

In [35]:
#5.WAP to print the whole number until nth times by using a while loop.
n=10
i=0
while i<=n:
    print(i)
    i+=1

0
1
2
3
4
5
6
7
8
9
10

In [41]:
#6.WAP to print the reverse of the whole number until nth times by using a while loop.

n=0
i=10
while i>=n:
    print(i)
    i-=1

10
9
8
7
6
5
4
3
2
1
0

In [58]:
#7.WAP to print the even number until nth times by using a while loop.
i=0
end=20
while i<=end:
    if i%2==0:
        print(i)
    i+=1

0
2
4
6
8
10
12
14
16
18
20

In [4]:
#8.WAP to print reserve the even number until nth times by using a while loop.
i=10
# end=0
while i:
    if i%2==0:
        print(i)
    i-=1

10
8
6
4
2

In [7]:
#9.WAP to print the odd number until nth times by using a while loop.
i=0
m=10
while i<m:
    if i%2!=0:
        print(i)
    i+=1

1
3
5
7
9

In [17]:
#10.WAP to print reserve the odd number until nth times by using a while loop.
m=10
while m:
    if m%2!=0:
        print(m)
    m-=1

9
7
5
3
1

In [4]:
#11.WAP to print the nth table 1 to 20, format ==> 5 * 1 = 5 to 5 * 20 = 100

n=5
m=1
while m<=20:
    t=n*m
    print(n,"*",m,"=",t)
    m+=1

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50
5 * 11 = 55
5 * 12 = 60
5 * 13 = 65
5 * 14 = 70
5 * 15 = 75
5 * 16 = 80
5 * 17 = 85
5 * 18 = 90
5 * 19 = 95
5 * 20 = 100

In [5]:
#12.WAP to print the nth table 20 to 1, format ==> 5 * 20 = 100 to 5 * 1 = 5

n=5
m=20
while m>=1:
    t=n*m
    print(n,"*",m,"=",t)
    m-=1

5 * 20 = 100
5 * 19 = 95
5 * 18 = 90
5 * 17 = 85
5 * 16 = 80
5 * 15 = 75
5 * 14 = 70
5 * 13 = 65
5 * 12 = 60
5 * 11 = 55
5 * 10 = 50
5 * 9 = 45
5 * 8 = 40
5 * 7 = 35
5 * 6 = 30
5 * 5 = 25
5 * 4 = 20
5 * 3 = 15
5 * 2 = 10
5 * 1 = 5

In [16]:
#13.WAP to print the numbers which are divisible by 3 from 25 to 66.

start=25
end=66
while start<=end:
    if start%3==0:
        print(start)
    start+=1

27
30
33
36
39
42
45
48
51
54
57
60
63
66

In [17]:
#14.WAP to print the numbers which are divisible by 3 and 5 from 15 to 76.

start=15
end=76
while start<=end:
    if start%3==0 and start%5==0:
        print(start)
    start+=1

15
30
45
60
75

In [32]:
#15.WAP to print the numbers which are divisible by 5 and 7 from 77 to 22.

start=77
end=22
while end<start:
    if start%5==0 and start%7==0:
        print(start)
    start-=1

70
35

In [50]:
#16.WAP to print the ”love you” if value is divisible by 3, or print “hate you” value is 
# divisible by 5, to print “i like you” if divisible by 3 and 5, from 1 to 30.
n=1
end=30
while n<end:
    if n%3==0:
        print(n,"love you","divisible by 3")
    if n%5==0:
        print(n,"Hate you","divisible by 5")
    if n%3==0 and n%5==0:
        print(n,"i like you","divisble by both 3 and 5")   
    n+=1

3 love you divisible by 3
5 Hate you divisible by 5
6 love you divisible by 3
9 love you divisible by 3
10 Hate you divisible by 5
12 love you divisible by 3
15 love you divisible by 3
15 Hate you divisible by 5
15 i like you divisble by both 3 and 5
18 love you divisible by 3
20 Hate you divisible by 5
21 love you divisible by 3
24 love you divisible by 3
25 Hate you divisible by 5
27 love you divisible by 3

In [57]:
#17.WAP to print sum of the 1 to nth natural numbers.

start=1
end=30
sum=0
while start<end:
    sum=sum+start
    start+=1
print(sum)

435

In [60]:
#18.WAP to print sum of the even numbers 1 to 20 numbers.

start=1
end=20
sum=0
while start<end:
    if start%2==0:
        sum=sum+start
    start+=1
print(sum)

90

In [69]:
#19.WAP to print products of the 1 to 6 numbers.

sum=1
end=6
m=1
while sum<=end:
    m=m*sum
    sum+=1
print(m)

720

In [72]:
#20.WAP to count the no of odd values from 1 to 30 numbers.

start=1
end=30
sum=0
while start<=end:
    if start%2!=0:
        sum=sum+1
    start+=1
print(sum)

15

In [83]:
#21.WAP to print the factors of the given number.
n=int(input())
start=1
while start<=n:
    if n%start==0:
        print(start,end="")
    start+=1
print()

1236

In [84]:
#22.WAP to sum of the factors of the given number.

In [ ]:
#23.WAP to prod of the factors of the given number.

In [ ]:
#24.WAP to print Fibonacci series 0 to nth.

In [ ]:
#25.WAP to find out the factorial number of a given number.

In [ ]:
#26.WAP to print the factorial numbers in the given range m to n.

In [ ]:
#27.WAP to check whether a given number is a prime number or not.

In [ ]:
#28.WAP to print the prime numbers in the given range m to n.

In [ ]:
#29.WAP to check whether a given number is an armstrong number or not.

In [ ]:
#30.WAP to print the armstrong numbers in the given range m to n.

In [ ]:
#31.Write a program to print prime series 1 to nth.

In [ ]:
#32.Write a program to print 1 to 100 prime numbers in fibonacci series

In [ ]:
#33.Write a program Sum of prime numbers in a given collection

In [ ]:
#34.WAP to the given number is palindrome or not.

In [ ]:
#35.WAP to check whether the length of the string is even or odd. If it is even, print 
# that string 10 times. If it is not printed 5 times.

In [ ]:
#36.WAP to print the uppercase character from ‘A’ to ‘Z’ by using a while loop.

In [ ]:
#37.WAP to print the lowercase character from ‘a’ to ‘z’ by using a while loop.

In [ ]:
#38.WAP to print the ascii numbers character from ‘0’ to ‘9’ by using a while loop.

In [ ]:
#39.WAP to print the uppercase character from ‘E’ to ‘U’ by using a while loop.

In [ ]:
#40.WAP to print the uppercase character from ‘Z’ to ‘A’ by using a while loop.

In [ ]:
#41.WAP to print the uppercase character from ‘U’ to ‘G’ by using a while loop.

In [ ]:
#42.WAP to print the lowercase character from ‘i’ to ‘y’ by using a while loop.

In [ ]:
#43.WAP to print the lowercase character from ‘z’ to ‘a’ by using a while loop.

In [ ]:
#44.WAP to print the lowercase character from ‘p’ to ‘c’ by using a while loop.

In [ ]:
#45.WAP to print the uppercase characters based on even ascii values.

In [ ]:
#46.WAP to print the lowercase characters based on even ascii values.

In [ ]:
#47.WAP to print the uppercase characters based on odd ascii values.

In [ ]:
#48.WAP to print the lowercase characters based on odd ascii values.

In [ ]:
#49.WAP to print all the even characters from ‘A’ to ‘Z’.

In [ ]:
#50.WAP to print all the odd characters from ‘a’ to ‘z’.

In [ ]:
#51.WAP to count the number of vowels present in D to V.

In [ ]:
#52.WAP to count the number of vowels present in u to e.

In [ ]:
#53.WAP to print the square of the number in between the range from m to n which 
#is multiple of 3. WAP to print a number from range m to m which is divisible by 5.

In [ ]:
#54.Write a program which takes an integer number and find the sum of digits and 
# repeat until the sum gets a single digit in the end.
# Example:
# Input 5643
# 5+6+4+3 =>18 
# 1+8=>9
# Output 9

In [ ]:
#55.Write a program to count the numbers of 2’s between 0 and n
# Input n=35
# Example:2,12,20,21,22,23,24,25,26,27,28,29,32
# Output 14

In [ ]:
#56.WAP to print all the characters in a given string.

In [5]:
#57.WAP to print all the items present in the string between the range from m to n.

In [ ]:
#58.WAP to print the uppercase characters in a given string.

In [2]:
#59.WAP to print the lowercase characters in a given string.

In [ ]:
#60.WAP to print the ascii numbers(Digits) characters in a given string.

In [ ]:
#61.WAP to print the special characters in a given string.

In [ ]:
#62.WAP to Print the vowels in a given string.

In [ ]:
#63.WAP to Print the consonants in a given string.

In [ ]:
#64.WAP to print the reverse of the characters in a given string.

In [ ]:
#65.WAP to print even position values characters in a given string.

In [ ]:
#66.WAP to print odd position values characters in a given string.

In [ ]:
#67.I/p:‘hello world 123 haii’
# o/p:’eoo123aii’

In [ ]:
#68.I/p:‘hello world 123 haii’
#   o/p:’eo o 123 aii’

In [ ]:
#69.I/p:‘hello world 123 haii’
#   o/p:’eo o aii’

In [ ]:
#70.I/p: ‘hello world 123 haii’
#   o/p:’hll world haii’

In [ ]:
#71.i/p:’hello world’
#   o/p:’hll wrld’
#   o/p:’eoo’

In [ ]:
#72.i/p:’12hello3 4world4’
#   o/p:’hll wrld’
#   o/p:’eoo’
#   o/p:’12344’

In [ ]:
#73.i/p:’(*12hello3$ $4#world4*)’
#   o/p:’hllwrld’
#   o/p:’eoo’
#   o/p:’12344’
#   o/p:’(*$ $#*)

In [ ]:
#74.i/p: ’(*12hello3$ $4#world4*)’
#   o/p: ')*#$ $*(,44321,ooe,dlrwllh'

In [ ]:
#75.i/p:’(*12hello3$ $4#world4*)’
#   o/p:’hllwrld,eoo,12344,(*$ $#*)’

In [ ]:
#76.i/p: ’(*12hello3$ $4#world4*)’
#   o/p:’,hllwrld,)*#$ $*(’,eoo,44321’

In [ ]:
#77.i/p: ’(*12hello3$ $4#world4*)’
#   o/p: ')*#$ $*(,44321,ooe,dlrwllh'

In [ ]:
#78.i/p: ’(*12hello3$ $4#world4*)’
#   o/p:’dlrwllh)*#$ $*(ooe44321’

In [ ]:
#79.I/p:’HELLOWORLD’
#   o/p:’h$ll*w*rld’

In [ ]:
#80.I/p:’123HELLO WORLD456’
#   o/p:’hllwrld21’

In [3]:
#81.I/p:’123HELLO WORLD456’
#   o/p:’123hEllO wOrld456’

In [ ]:
#82.I/p:’123HELLO WORLD456’
#   o/p:’321hEllO wOrld654’

In [ ]:
#83.I/p:’123HELLO WORLD456’
#   o/p:’321*E**O *O***654’

In [ ]:
#84.I/p:’123HELLO WORLD456’
#   o/p:’123*E**O *O***456’

In [ ]:
#85.I/p:’HELLOWORLD’
#   o/p:’h$ll*w*rld’

In [ ]:
#86.i/p: ‘abc’
#   i/p: ‘xyz’
#   o/p:’axbycz’

In [ ]:
#87.i/p: ‘abc’
#   i/p: ‘xyzw’
#   o/p:’axbyczw’

In [ ]:
#88.i/p: ‘abcd’
#   i/p: ‘xyz’
#   o/p:’axbyczd’

In [ ]:
#89.i/p: ‘abc’
#   i/p: ‘xyzwop’
#   o/p:’axbyczwop’

In [ ]:
#90.i/p:’abc123’
#   o/p:’a1b2c3’

In [ ]:
#91.i/p:’abc12’
#   o/p:’a1b2c’

In [ ]:
#92.i/p: ‘abc1234’
#   o/p: ‘a1b2c34’

In [ ]:
#93.i/p:‘1a2bc34’
#   o/p:’a1b2c34’

In [ ]:
#94.i/p:’abcdnmpoijkl12yzabcd5’
#   o/p:3

In [ ]:
#95.I/P: ‘HAII HELLO’
#   O/P: ‘HA1I2I3 HE4LLO5’

In [ ]:
#96.I/P: ‘HAII HELLO’
#   O/P:‘H1AII 2H3EL4L5O’

In [1]:
n=1
m=12345
while(m):
    r=m%10
    n=n*r
    m=m//10
print(n)

120

In [7]:

m=12345
while(m):
   n=m[::-1]
print(n)

TypeError: 'int' object is not subscriptable

In [20]:
st="PYSPIDERS"
start=-1
m=-(len(st))
while start>=m:
    print(st[start])
    start-=1

S
R
E
D
I
P
S
Y
P

In [19]:
st=[1,2,3,4,5]
start=-1
m=-(len(st))
while start>=m:
    print(st[start])
    start-=1

5
4
3
2
1

In [24]:
st={10,20,30}
res=list(st)
start=-1
end=-(len(st))
while start>=end:
    print(res[start])
    start-=1

30
20
10

In [26]:
st={10:20,30:40,50:60}
res=list(st)
start=-1
end=-(len(st))
while start>=end:
    print(res[start])
    start-=1

50
30
10

In [27]:
st={10:20,30:40,50:60}
res=list(st)
start=-1
end=-(len(st))
while start>=end:
    print(st[res[start]])
    start-=1

60
40
20

In [28]:
st={10:20,30:40,50:60}
res=list(st)
start=-1
end=-(len(st))
while start>=end:
    print(res[start],st[res[start]])
    start-=1

50 60
30 40
10 20

In [5]:
st='2gf5jh'
sum=0
start=0
while start<len(st):
    if'0'<=st[start]<='9':
        sum+=int(st[start])
    start+=1
if sum%5==0:
    i=2
    while i<sum:
        if sum%i==0:
            print('not a prime')
            break
        i+=1
    else:
        print("prime")

In [8]:
l=[10,20,'@',30,'#']
num=[]
sp=[]
start=0
while start<len(l):
    if type(l[start])in [int,float,complex]:
        num+=[l[start]]
    elif not ('0'<=l[start]<='9' or 'A'<=l[start]<='9' or 'a'<=l[start]<='z'):
        sp+=[l[start]]
    start+=1
print(num,sp)

[10, 20, 30] ['@', '#']

In [12]:
s='10+20-10*2'
st=""
l=[]
sp=[]
start=0
while start<len(s):
    if '0'<=s[start]<='9':
        st+=s[start]
    elif not ('A'<=s[start]<='Z' or 'a'<=s[start]<='z' or '0'<=s[start]<='9'):
        l+=[st]
        st=' '
        sp+=[s[start]]
    start+=1
print(l,sp)

['10', ' 20', ' 10'] ['+', '-', '*']

In [18]:
s='10+20-10*2'
#st=""
l=['']
sp=[]
start=0
while start<len(s):
    if '0'<=s[start]<='9':
        l[-1]+=s[start]
    elif not ('A'<=s[start]<='Z' or 'a'<=s[start]<='z' or '0'<=s[start]<='9'):
        l+=[""]
        sp+=[s[start]]
    start+=1
print(l,sp)

['10', '20', '10', '2'] ['+', '-', '*']

In [36]:
s='10+20-10**2'
#st=""
l=['']
sp=[]
start=0
while start<len(s):
    if '0'<=s[start]<='9':
        l[-1]+=s[start]
    elif not ('A'<=s[start]<='Z' or 'a'<=s[start]<='z' or '0'<=s[start]<='9'):
        if s[start]=="*" and s[start]=="*":
            sp=sp+[s[start]+s[start+1]]
            start+=1
        else:
            sp+=[s[start]]
        if len(s)-1!=start:
            l+=[""]
    start+=1
print(l,sp)
i=0
while i<len(sp):
    match sp[i]:
        case "+":
            l[0:2]=[int(l[0])+int(l[1])]
        case "-":
            l[0:2]=[int(l[0])-int(l[1])]
        case "*":
            l[0:2]=[int(l[0])*int(l[1])]
        case "/":
            l[0:2]=[int(l[0])/int(l[1])]
        case "**":
            l[0:2]=[int(l[0])**int(l[1])]
    i+=1
print(l[0])

['10', '20', '10', '2'] ['+', '-', '**']
400

In [ ]:
st="ABCDEFIKLMQR"